#!/bin/bash
vagrant status  | awk '{ if($2 == "running") { print $0 } }' | grep running | awk '{print $1}' | xargs -I file vagrant ssh-config file | grep -i 'hostname\|port\|identityfile' | tr "\n" " "  | sed 's/HostName/\n/g' | grep "\n" | awk '{print "ssh -o StrictHostKeyChecking=no -i "$5" vagrant@"$1 " -p " $3 " \"source /etc/profile; ifconfig {{ eth }}\""}' | xargs -0 -I var /bin/bash  -c var | grep -oP '(?<=inet addr:).*?(?= )'
